In [2]:
# Basic Imports

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Load the Dataset

data= pd.read_excel("d:Analytics/insurance.xlsx")

data.head()

    age     sex   bmi  children smoker     region  expenses
0  19.0  female  27.9       0.0    yes  southwest  16884.92
1  18.0    male  33.8       1.0     no  southeast   1725.55
2  28.0    male  33.0       3.0     no  southeast   4449.46
3  33.0    male  22.7       0.0     no  northwest  21984.47
4  32.0    male  28.9       0.0     no  northwest   3866.86